<!doctype html>
<html lang="fr">

  <head>
    {% block head %}

    {% include "analytics.html" %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <!-- wg2 css -->
    <link rel="stylesheet" href="wg2.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <title>{% block title %}{% endblock %}</title>

    {% endblock %}
  </head>

  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2020  <a href="http://www.freedom-partners.com/">Freedom Partners</a>.
        {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/bootstrap/jquery-3.5.0.min.js">
    <script src="/bootstrap/popper.min.js">
    <script src="/bootstrap/4.4.1/js/bootstrap.min.js">
  </body>
</html>
